
img {
    width: 180px;
}

header {
    background-color: #99aac5b6;
    padding: 0;
    margin-bottom: 15px;
    padding-left: 15px;
    
}

.destaque {
    color: rgb(160, 63, 46);
    font-weight: bolder;
}

h1, h2, p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d1e3ff;
    color: dimgray;
}

nav > ol > li > a {
    text-decoration: none;
    padding: 0;
}

nav > ol > li > a:hover {
    color: blueviolet;
}

#portifolio {
    background-color: antiquewhite;
}

a:visited {
    color: darkgoldenrod;
}

a [target=" blank"]::after {
    color: chocolate;
}

footer {
    justify-content: center;
    text-align: center;
}