* { /*Definições globais*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


header {/*cores e espaçamento*/
    background-color: #163853;
    padding: 30px;
    padding-bottom: 20px;
}

header > h1 { /* sombras e espaçamento interno*/
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.404); 
    padding-bottom: 20px;
}

.cabecalho {
    color: #ffff;
}
header > h2 {
    font-size: larger;
}

main {
    background-color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 2500px;
    
}

.menu { /*sombras e tamanhos*/
    background-color: #d6d6d6;
    box-shadow: 1px 0px 5px;
    padding: 2rem;
    padding-bottom: 50vh;
    margin-right: rem;
    box-sizing: border-box; /* evita estouro de altura ao somar padding */
    min-width: 13vw;
}

nav p {
    font-size: 1.1em;
    line-height: 1.7em;

} 

nav > h3 { /*configurações de linhas/bordas de separação */
    margin-bottom: 10px;
    border-style: groove;
    border-top: #272222;
    border-left: #272222;
    border-right: #272222;
    border-color: #000000;
}

.container { /*div vertical*/
    display: flex; /* deixa a div flexivel*/
    flex-direction: row;  /*organiza os itens da pagina lado a lado  */
} 


.item-menu { /*Índice*/
    padding: 0.1rem;
    margin:  0.7rem 0rem 0.7rem 0;
    list-style: none;
    font-size: 1.1em;
}

.item-menu > a { /*links índices*/
    text-decoration:none;
    color: #000000;

}

.item-menu > a:hover { /*pseudoelementos de cursor em cima de links do indice*/
    color: rgba(255, 255, 255, 0.514);
    text-decoration: underline;
    transition: 1s;
    border-radius: 4px;
    
}

.item-menu:hover { /*transição estetica*/
    background-color: #1f527ebd;
    transition: 0.7s;
    border-radius: 4px;

}

.ul_section { /*config de listas não ordenadas*/
    list-style-position: inside;
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;

}

section p { /*padronização de parágrafos das seções*/
    line-height: 1.7em;
    margin: 13px 0px;
    text-align: justify;
    font-size: 1.1em;
}

section h2 { /*configurações de linhas/bordas de separação */
    color: #163853;
    border-style: groove;
    border-top: #272222;
    border-left: #272222;
    border-right: #272222;
    border-color: #163853;
    margin-top: 25px;
}

section h4 { /*espaço inicial do texto*/
    text-indent: 8px;
}

.conteudo { /*centralização e definição de largura do conteudo*/
    padding: 10px;
    width: 75vw;
    margin-left: auto;   
    margin-right: auto;  
}

footer > p {
    color: white;
    padding: 10px;
}
 
footer {
    text-align: center;
    background-color: #163853;
    
}

.links {
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 1.7em;

}

footer a {
    text-decoration: none;
    color: white;
}

footer > p > a > span {
    font-weight: bolder;
}