



h1 {
    text-align: center;
    font-size: 2em;
    color: white;
}

h2 {
    text-align: center;
    font-size: 1em;
    color: white;
}

p {
    text-align: center;
    font-size: 1em;
    color: white;
}

body {
    background-color: black;
}